<nav data-controller="navbar" class="sticky h-12 w-screen flex justify-between items-center gap-8 pr-8 bg-blue-700 text-yellow-400 rounded-l-full">
  <div class="flex justify-start items-center">
    <%= link_to image_tag('list.png', class:"min-w-[3rem] w-12 h-12 rounded-full"), root_path %>
    <div class="overflow-hidden float-left px-2.5 py-5">
      <button class="flex font-righteous text-bold text-xl no-underline text-yellow-300 hover:text-white my-2 ml-2" data-action="navbar#showDrop navbar#hideDropAlt">Leads</button>
      <div class="bg-blue-700 z-20 shadow-small min-w-[180px] hidden absolute rounded-b-xl" data-navbar-target="maindrop">
        <%= link_to "My Posts", posts_path, class:"flex font-righteous text-bold text-lg no-underline text-yellow-300 hover:text-white ml-2 my-2" %>
        <%= link_to "New Post", new_post_path, class:"flex font-righteous text-bold text-lg no-underline text-yellow-300 hover:text-white ml-2 my-2" %>
        <button class="flex font-monoton text-4xl no-underline text-black hover:text-white absolute right-3 bottom-2" data-action="navbar#hideDrop">x</button>
      </div>
    </div>
  </div>
</nav>